.project {
  box-shadow: 0 0 0 1px #d4d4d5;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
  .content {
    display: flex;
    align-items: center;
    .icon {
      .iconComponent {
        margin-right: 0.5rem;
        margin-top: 12px;
        font-size: 2rem;
      }
    }

    .info {
      margin-top: 0.5rem;
      display: flex;
      flex: 1;
      padding-right: 1.5rem;
      flex-direction: column;

      .title {
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
      }

      .description {
        margin-top: 0.3rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        word-break: break-all;
      }
    }
  }
}
