.github-fork-ribbon.right-bottom:before {
  background-color: #222;
}

/* TODO: find a better solution to overwriting defaults */
.item::before {
  display: none;
}

.ui.vertical.sidebar.menu > a.item.menu-item-custom::before {
  display: none !important;
}
