.profileConfigurationContainer {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  .breadcrumb {
    margin-bottom: 1rem;
  }

  .gridContainer {
    margin: 0;
    + .gridContainer {
      margin: 0;
    }
  }

  .card {
    .body {
      padding: 1rem 0;
    }

    .search {
      margin-top: 1rem;
    }
    .pills {
      .selected {
      }
      .options {
      }
    }
  }
}
